
/* 2.a)cuerpo de pagina letra color azul, tamaño de letra 11 pt
tipo de letra Arial, espacio entre lineas 20pt*/
body {
  color: blue;
  font-size: 11pt;
  font-family: Arial;
  line-height: 20pt;
}
/* 2.b) párrafos : ancho del 80%, texto justificado, 
altura de línea de 30px, sandrado del texto 10px*/
p {
  width: 80%;
  text-align: justify;
  line-height: 30px;
  text-indent: 10px;
}
/* 2.c) etiquetas h1: color #222, letra 50% mayor que párrafo, tipo de letra 
Verdana*/
h1 {
  color: #222;
  font-size: 1.5em;
  font-family: Verdana;
}
/* 2.d) etiquetas h2: color #222, tamaño letra 26px, estilo fuete itálica*/
h2 {
  color: #222;
  font-size: 26px;
  font-style: italic;
}

/*2.e) margen externo de los párrafos en 10px */
p {
  margin : 10px;
  }
/*2.f) enlaces, no visitado azul, visitado aqua, hover background color #444,
hacer click color letra negro */
a:link {
  color: blue;
}
a:visited {
  color: aqua;
}
a:hover {
  background-color: #444;
}
a:active {
  color: black;
}
/*4 crear un texto tachado y morado en receta ed02 mediante clase*/
*.eliminado {
  text-decoration: line-through;
  color: maroon;
}

/*5 crear nueva pagina ofertas y dar estilo a tablas*/

table {
  width: 50%
  border: 1px solid black;
  color: black;
  }

caption, th {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #4CAF99;
  color: black;
}
caption {
  height: 70px;
  padding: 5px;
}
th,td  {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  color: black;
  }

  /*6 fondo de imagen mediante clase*/


 #fondo {
  background: url("pizza3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: relative;
}


/*7.  Los iconos de las redes sociales deben ser incluídos desde el fichero CSS. */

.fcbkicon {
  background-image: url("ico_fb.png");
  background-repeat: no-repeat;
  background-color: #A9A9A9;
  right: inherit;
  display: inline-block;
}

.instaicon {
  background: url("../recursos_PR1/multimedia/img/ico_insta.png");
  background-repeat: no-repeat;
  background-color: #A9A9A9;
  left: auto;
  display: inline-block;
  }

.twtericon {
  background-image: url("../recursos_PR1/multimedia/img/ico_twitter.png");
  background-repeat: no-repeat;
  background-color: #A9A9A9;
  left: auto;
  display: inline-block;
}

.pinticon {
  background-image: url("../recursos_PR1/multimedia/img/ico_pinterest.png");
  background-repeat: no-repeat;
  background-color: #A9A9A9;
  left: auto;
  display: inline-block;
  }

/*8.  Centrar el video en la pagina index. */

#centrado {
  height: 240px;
  width: 320px;
  background-color: gey;
  margin-left: auto;
  margin-right: auto;
}

/*8.  Centrar el video en la pagina index. */

/*9.a Los elementos del formulario (cuadros de texto, desplegables,
  botones, etc.) tengan borde de color #e94656de de 1px, 
separación de línea 14pt y se muestre la etiqueta
 encima del elemento.*/

-------------------------------------
form#formulario {
	background:#dee;
    font-size: 14px;
	width:470px; 
	border:1px solid #e94656de; 
	}
	
form#formulario input {
	border:1px solid #e94656de;
    text-align: center;
	}

form#formulario select {
    border:1px solid #e94656de;
	}


/*9.b 	El fondo de los botones color #e94656, con borde redondeado, el cursor se cambiará de flecha a mano para indicar que es un enlace, el tamaño de la letra será de 16 px, con margen superior de 24 px y a la izquierda 60 px. El texto se mostrará centrado y de color blanco.*/

#boton {
	background:#e94656;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-left: 60px;
    margin-top: 24px;
    border-radius: 10px;
    cursor: pointer;
}

#sinborde {
	border:none;}


/*---------------------------------hasta aqui facendo o archivo--------------- */
